body{
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #dbdbd9;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container{
  cursor: auto;
}
.card {
  width: 600px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all .6s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10%;
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
}
.card-back h2{
  margin: 0;
  text-align: center;
  position: relative;
  top: 45%;
}
.card-front img{
  top: 25%;
  position: relative;
}
.card-back {
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
}
.buttonContainer{
  width: 600px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 1.5rem auto;
}
.buttonContainer button{
  width: 225px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .card{
    width: 300px;
    height: 300px;
  }
  .card-front img{
    top: 15%;
  }
  .buttonContainer{
    width: 300px;
  }
  .buttonContainer button{
    width: 125px;
  }
}


